// app global css in Stylus form
// app global css in Sass form
@font-face
  font-family 'Nanotech'
  font-style normal
  src url('NanoTech-Regular.otf')

.f-nano
  font-family 'Nanotech', serif

.f-trocchi
  font-family 'Trocchi', serif

.f-playfair
  font-family 'Playfair Display', serif

.text-muted
  color $grey-3

.a-text-pink
  color #E3027B

.a-bg-pink
  background-color #E3027B

.positive-2
  color $positive-2

.bg-positive-2
  background-color $positive-2

.rounded-sm
  border-radius .25rem

.rounded-md
  border-radius .315rem

.rounded-lg
  border-radius .63rem

.w-100
  width 100%

.w-90
  width 90%

.w-80
  width 80%

.w-75
  width 75%

.w-50
  width 50%

.text-center
  text-align center

.hover
  background-color $grey-2
  cursor pointer
